body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url(../res/img/campus-medan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px);
    height: 100%;
    overflow: hidden;
}

.Logo{
    position: fixed;
    top: 2%;
    left: 1%;
    height: auto;
    width: 6%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 10px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px 0 0;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: navy;
}

#LoginButton{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: navy;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

#LoginButton:hover{
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.error-message{
    color: red;
    font-size: 12px;
}

@media only screen and (max-width: 450px){
    .center{
        width: 90%;
    }

    .Logo{
        width: 20%;
    }
}

